<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.20.min.js"></script>
    <script src="js/lib/jsbn.js"></script>
    <script src="js/lib/jsbn2.js"></script>
    <script src="js/lib/sjcl.js"></script>
    <script src="js/lib/aws-cognito-sdk.min.js"></script>
    <script src="js/lib/amazon-cognito-identity.min.js"></script>
    <!--<script src="js/login.js"></script>-->
    <title>Login</title>
</head>
<body>

    <form id="signUp">
        <p>Username: <input id="signUpUsername" type="text" /></p>
        <p>Password: <input id="signUpPassword" type="password" /></p>
        <p><input id="signUpSubmit" type="submit" value="Sign Up" /></p>
    </form>

</body>
</html>