<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.20.min.js"></script>
    <script src="js/lib/jsbn.js"></script>
    <script src="js/lib/jsbn2.js"></script>
    <script src="js/lib/sjcl.js"></script>
    <script src="js/lib/aws-cognito-sdk.min.js"></script>
    <script src="js/lib/amazon-cognito-identity.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/cognito.js"></script>
    <script src="js/signup.js"></script>
    <script src="js/login.js"></script>
    <script src="js/verify.js"></script>
    <script>

    </script>
    <title>Login</title>
</head>
<body>

    <form id="signUp">
        <p>Sign Up</p>
        <p>Email: <input id="signInName" name="email" /></p>
        <p>Username: <input id="signUpUsername" name="username" type="text" /></p>
        <p>Password: <input id="signUpPassword" name="password" type="password" /></p>
        <p><input id="signUpSubmit" type="submit" value="Sign Up" /></p>
    </form>
    <hr />
    <form id="verify">
        <p>Verify Account</p>
        <p>Username: <input id="verifyUsername" name="username" type="text" /></p>
        <p>Verification Code: <input id="verifyCode" name="Code" type="text"/></p>
        <p><input id="verifySubmit" type="submit" value="Verify"/></p>
    </form>
    <hr />
    <form id="signIn">
        <p>Sign In</p>
        <p>Username: <input id="signInUsername" name="Username" type="text" /></p>
        <p>Password: <input id="signInPassword" name="Password" type="password" /></p>
        <p><input id="signInSubmit" type="submit" value="Sign In" /></p>
    </form>

</body>
</html>
