<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.20.min.js"></script>
    <script src="js/lib/jsbn.js"></script>
    <script src="js/lib/jsbn2.js"></script>
    <script src="js/lib/sjcl.js"></script>
    <script src="js/lib/aws-cognito-sdk.min.js"></script>
    <script src="js/lib/amazon-cognito-identity.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/cognito.js"></script>
    <script src="js/cognitoServices.js"></script>
    <script src="js/s3Services.js"></script>
    <script>

        $(document).ready(function() {
            $('#uploadSubmit').on('click', function(event){
                event.preventDefault();
                var file = $('#uploadInput')[0].files[0];
                uploadFile(file.name, file);
            });

            $('#signOutSubmit').on('click', function(event) {
                event.preventDefault();
                signOut();
            });
        });

    </script>
    <title>Login</title>
</head>
<body>

    <form id="upload">
        <p><input id="uploadInput" type="file" /></p>
        <p><input id="uploadSubmit" type="submit" value="Upload File" /></p>
    </form>
    <form id="signOut">
        <p><input id="signOutSubmit" type="submit" value="Sign Out" /></p>
    </form>

</body>
</html>
